<!DOCTYPE html>
<html lang="en">
	<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    
    <meta name='format-detection' content='telephone=no' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disney Store Locations in <TMPL_VAR  NAME="city">, <TMPL_VAR NAME="state"> | Shop for Disney Toys, Games, Clothes & Movies</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="canonical" href="<TMPL_VAR NAME="cityindex_url">" />
    <link rel="icon" type="image/x-icon" href="https://static-mh.content.disney.io/catalog/assets/favicon-94e3862e7fb9.ico" />
    <meta name="msvalidate.01" content="22E1CD59AC139C707C77FC04B552430C" />
    <meta name="msvalidate.01" content="050EF421ABB9296574E27DDDEE0127DD" />

    <meta name="description" content="Visit our <TMPL_VAR  NAME="city">, <TMPL_VAR NAME="state_longname_pc"> stores for Disney character clothes, toys and collectibles. Click here to find your local <TMPL_VAR  NAME="city">, <TMPL_VAR NAME="state_longname_pc"> Disney Store!" />

    <link rel="stylesheet" type="text/css" href="//hosted.where2getit.com/disney/css/disney-responsive.local.ADA.css">
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" media="all"/>
    <link type="text/css" href="/css/local_landing2017.css" rel="stylesheet" media="all"/>
    <script data-main="/w2gi/javascript/backbone/bb/dist/bones.min" src="/w2gi/javascript/backbone/bb/lib/require.js"></script>
    <script type="text/javascript" src="/w2gi/javascript/backbone/bb/lib/jquery.js"></script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "<TMPL_VAR NAME='topindex_url_lc'>",
            "name": "Index"
          }
        },{
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "<TMPL_VAR NAME='stateindex_url_lc'>",
            "name": "<TMPL_VAR NAME='state'>"
          }
        }]
      }
    </script>
    <script>
      var W2GI = {
        config : {
          appkey : '<TMPL_VAR NAME="appkey">',
          pageObserve: ['linktrack'],       
        }
      }
    </script>
    <style type="text/css">
      body {
        font-family: 'Lato', sans-serif!important;
      }
      a {
        color: #777;
      }

      h1 {
        color: #000;
        float: left;
        font-size: 32px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        width: 100%;
        font-weight:normal;
    }

      .breadcrumb a {
          color: #767676!important;
          text-decoration: underline!important;
      }
      #content a {
        color: #868686;
        display: inline-block;
        font-family: 'matterhornregular';
        margin-top: 10px;
        width: 30%;
        text-decoration: none;
      }
     /* #w2gilocalmain {
        margin: 0 auto 40px!important;
      }*/
      footer {
        box-sizing: border-box!important;
      }
      p {
        padding: 0px;
      }

      h2 {
        clear: both;
        color: #000000;
        font-family: 'matterhorn_serifregular';
        font-size: 16px;
        margin: 20px 0 0;
        text-align: left;
      }


      .sr-only.sr-only-focusable.btn.btn-primary:focus {
        color: #fff;
        background-color: #000;
        height: auto;
        left: 30px;
        position: relative;
        width: auto;
      }

      div.covid-wrap > img {
    		max-width: 100%;
    	}

       div.covid-wrap {
        margin-bottom: 30px;
        width: 100%;
       }


      div.covid-wrap a img, div.covid-wrap img {
        max-width: 100%;
      }


    </style>
    
<script src="https://global.go.com/stat/dolWebAnalytics.js"></script>
<script>
 var cto = new CTO();
cto.account="wdgwdprosdweb, matterhorn";
cto.fullPageName="dshop:sd:us:en:brandify:<tmpl_var name='city'>"; //Replace XXXX with a unique identifier for the page
cto.breadcrumbs="dsi:brandify";
cto.contentType="sectionPage";
cto.siteSection="sectionPage:brandify";
cto.siteLevel2="dsi:brandify";
cto.siteLevel3="dsi:brandify";
cto.categoryCode="dsi:brandify";
cto.productAvailability="dsi:brandify";
cto.engagementId="dsi:brandify";
cto.merchandising_category="dsi > brandify";
cto.merchandising_category1="dsi > brandify";
cto.merchandising_category2="dsi > brandify";
cto.merchandising_category3="dsi > brandify";
cto.merchandising_category4="dsi > brandify";
cto.merchandising_category5="dsi > brandify";
cto.merchandising_category6="dsi > brandify";
cto.server="www.shopdisney.com";
cto.trackPage();
</script>
  </head>
  <body>
    <!-- <div>
      <img src ="https://static-mh.content.disney.io/catalog/assets/logos/shop_logo-e0d7a7c88833.svg" style ="position: absolute;
      width: 144px; height: 62px; top: 5px; left: calc(50% - 72px);">
    </div> -->
    <header>
      <div class="skip-nav">
        <a href="#content" class="sr-only sr-only-focusable btn btn-primary" tabindex="1">Skip to main Content</a>
      </div>    
      <nav aria-label="Header navigation">
        <ul class="desktop-nav" role="navigation">
          <li>
            <a href="https://www.shopdisney.com/" target="_self" tabindex="2"><image src="/images/local/icon-arrow.png" alt="Arrow icon"> Continue Shopping</a>
            </li>
          <li><a href="https://help.shopdisney.com/hc/en-us" target="_self" tabindex="3"><span>•</span>Guest Services</a>
          </li>
        </ul>
        <!-- <ul class="mobile-nav">
          <li><a href="https://www.shopdisney.com/" target="_self"><image src="/disneydemo/images/local/icon-arrow.png"></a></li>
        </ul> -->
      </nav>
      <a class="nav-logo" href="https://www.shopdisney.com/" target="_self" tabindex="4"><img src="/images/local/disney-logo.png" alt="Shop Disney"></a>
    </header>

    <div data-w2gi="locator" id="w2gilocalmain" role="main">
      <h1>Disney Store Locations in <TMPL_VAR  NAME="city">, <TMPL_VAR NAME="state_longname_pc"> (<TMPL_VAR NAME="state">)</h1>
      <!-- Start Breadcrumb -->
      <div class="breadcrumb">
        <a data-linktrack="Top index page" href="<TMPL_VAR NAME='topindex_url_lc'>" tabindex="5">Select a Location</a> &gt; <a data-linktrack="State index page - <TMPL_VAR NAME='state_longname_pc'>" href="<TMPL_VAR NAME='stateindex_url_lc'>" tabindex="6"><TMPL_VAR NAME="state_longname_pc"> (<TMPL_VAR NAME="state"><TMPL_VAR NAME="province">)</a> &gt; <TMPL_VAR NAME="city_pc">
        <!--<TMPL_VAR NAME="city">-->
      </div>
      <!-- End Breadcrumb -->

      <div class="covid-wrap">
        <a href="https://www.shopdisney.com/disney-stores/know-before-you-go/" target="_blank">
          <img src="/images/kbyg_v2.jpg" alt="Know Before You Go - We're introducing a number of new and enhanced health and safety measures as Disney stores begin to open in select locations. Follow all posted instructions while visiting re-opened Disney store locations. An inherent risk of exporsure to COVID-19 exists in any public place where people are present." />
        </a>
      </div>

      <div id="pagebody">
            <!-- ================== CONTENT ================= -->
        <div id="content">
          <table>
            <tr>
              <td class="links-wrapper" style="padding: 0px;">
                <h2 class="contentlist_heading"><TMPL_VAR NAME="city"></h2>
                <TMPL_LOOP NAME="contentlist_pc">
                <script type="application/ld+json">
                  {
                    "@context":"http://schema.org",
                    "@type":"ToyStore",
                    "name":"Disney Store",
                    "address":{
                      "@type":"PostalAddress",
                      "streetAddress":"<TMPL_VAR NAME='location_address1'>",
                      "addressLocality":"<TMPL_VAR NAME='location_city'>",
                      "addressRegion":"<TMPL_VAR NAME='location_state'>",
                      "postalCode":"<TMPL_VAR NAME='location_postalcode'>",
                      "addressCountry":"<TMPL_VAR NAME='location_country'>"
                    },
                  "branchOf": {
                      "name":"Disney Store",
                      "url": "http://www.shopdisney.com/"
                    },
                   "url":"<TMPL_VAR NAME='cityindex_url'>",
                    "telephone":'<TMPL_VAR NAME="location_phone">',
                    "logo" : "https://stores.shopdisney.com/images/local/disney-logo.png",
                    "image" : "https://stores.shopdisney.com/images/local/disney-logo.png"
                    
                    }
                  </script>
                  <p>
                  <a linktrack="Location page - with clientkey = <TMPL_VAR NAME=clientkey>" href="<TMPL_VAR EXPR="lc(link)">" class="contentlist_item" style="width: 100%; color: #000000" tabindex=""><TMPL_VAR NAME="link_name"></a>
                  </p>
                </TMPL_LOOP>
              </td>
            </tr>
          </table>
          <div class="spacer">&nbsp;</div>
        </div>

        <div class="bodytext">
          At your local <TMPL_VAR  NAME="city">, <TMPL_VAR NAME="state"> Disney Store, apart from toys, clothes, and games, you'll also find DVDs and entertainment, art and Disney collectibles, and Disney themed home & decor products. Shop for popular favorites like Disney Jewelry, Princess Dolls, Watches, and Backpacks. With products from Tinker Bell, Pooh and Pals, Alice in Wonderland, and many others, you'll always find the perfect Disney gift!
        </div>
      </div>

    </div>
    <!-- close of locator-->
    </div>
    <!--close of locator-->
    <footer>
      <nav>
          <ul>
              <li>© Disney, All Rights Reserved</li>
              <li><a href="https://disneytermsofuse.com/" target="_blank">Terms of Use</a></li>
              <li><a href="https://support.disney.com/hc/en-us/articles/360000829466-Legal-Notices" target="_blanks" title="">Additional Content Information</a></li>
              <li><a href="https://privacy.thewaltdisneycompany.com/en/" target="_blank" title="">Privacy Policy</a></li>
              <li><a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-california-privacy-rights/" target="_blank" title="">Your California Privacy Rights</a></li>
              <li><a href="https://privacyportal-de.onetrust.com/webform/64f077b5-2f93-429f-a005-c0206ec0738e/0a4f1f0b-7130-421f-971d-ef578c0bce6d" target="_blank" title="">Do Not Sell My Personal Information</a></li>
              <li><a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/" target="_blank">Children's Online Privacy Policy</a></li>
              <li><a href="https://thewaltdisneycompany.com/?ppLink=pp_ds" target="_blank">About Disney</a></li>
              <li><a href="https://preferences-mgr.truste.com/?aid=disneystore01&amp;pid=disney01&amp;type=disneystore" target="_blank">Interest-Based Ads</a></li>
              <li><a href="https://www.thewaltdisneycompany.com/wp-content/uploads/2019/09/California-Transparency-in-Supply-Chains-Act.pdf" target="_blank" title="">California Transparency in Supply Chains Act</a></li>
          </ul>
      </nav>
      <script>
        $(document).ready(function(){
          setTimeout(function(){
            $('.contentlist_item').each(function(i){
              i = i + 6
              $(this).attr('tabindex', i + 1);
            });
            var aCount = $('.links-wrapper p a').length;
            $('footer a').each(function(i){
              i = i + 6 + aCount;
              $(this).attr('tabindex', i + 1);
            });
          }, 300);
        })
      </script>
    </footer>
  </body>
</html>